.notification-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  font-size: 2em;
  position: relative;
  margin: 5px;
  transition: all 1s ease;
}
.notification-container + .notification-container {
  margin: 12px 5px;
}
.notification-unread {
  background-color: gray;
}
.notification-read {
  background-color: none;
}
.notification__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.notification__content-left {
  display: flex;
  align-items: baseline;
  gap: 5px;
}
.notification__markAsRead {
  width: 15px;
  height: 15px;
  background-color: greenyellow;
  border-radius: 50%;
  position: absolute;
  right: -10px;
  top: -10px;
}
