.profile__userInfo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: brown;
  gap: 10px;
  flex-wrap: wrap;
}
.profile__userInfo {
  max-width: 470px;
}
.profile__userInfo_avatar {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}
.profile__userInfo_top {
  font-size: 2em;
  text-align: center;
}
.profile__userInfo_about {
  margin: 0;
  font-size: 2em;
  text-align: center;
}
.profile__userInfo_about_header {
  margin: 0;
}
.profile__userInfo_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile__tabs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-size: 2em;
  background-color: saddlebrown;
}
.profile__tabs h3 {
  transition: all 0.5s ease;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.underline {
  display: inline-block;
  position: relative;
  color: gray;
}

.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: aliceblue;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
