.postCard-container {
  display: flex;
  flex-direction: column;
  border: 1px solid springgreen;
  padding: 10px;
  border-radius: 15px;
}
.postCard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #6c757d;
  padding-bottom: 10px;
  background-color: goldenrod;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.postCard-header__left {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
}
.postCard-header__userAvatar {
  width: 90px;
  height: 90px;
  border-radius: 60px;
  transition: all 0.3s ease;
}
.postCard-header__userAvatar:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.postCard-header__userAvatar:active {
  transform: scale(1);
}
.postCard-header__userDetails {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3px;
}
.postCard-header__username {
  font-size: 2em;
  font-weight: 500;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-out;
  margin: 2px;
}
.postCard-header__username:hover {
  border-bottom: 0.5px solid white;
  cursor: pointer;
}
.postCard-header__datePosted {
  font-size: 1.7em;
  color: #6c757d;
  margin: 2px;
}
.postCard-header__right {
  padding: 5px;
}
.postCard-header__right .postCard-header__deleteIcon {
  width: 35px;
  height: 35px;
  transition: all 0.3s ease;
}
.postCard-header__deleteIcon {
  padding: 4px;
  border-radius: 50%;
  color: #6c757d;
}
.postCard-header__deleteIcon:hover {
  background-color: red;
  color: whitesmoke;
  cursor: pointer;
}
.postCard-header__deleteIcon:active {
  transform: scale(0.95);
}
.postCard-body {
  background-color: #6c757d;
  max-width: 800px;
  font-size: 2em;
  padding: 0px 10px;
}
.postCard-body__content {
  display: flex;
  word-break: break-word;
  text-align: justify;
}
.postCard-body__details {
  border-top: 1px solid;
}
.postCard-body__details-top {
  display: flex;
  justify-content: space-between;
}
.postCard-options__likes {
  font-size: 1em;
  border-width: 0;
  outline: none;
  border: none;
  background-color: transparent;
  text-align: start;
}
.postCard-options__likes:hover {
  text-decoration: underline;
  cursor: pointer;
}
.postCard-options__like {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 15px;
  border-right-color: red;
  width: 50%;
  font-size: 2em;
  border-width: 0;
  border-right-width: 2px;
  background-color: goldenrod;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.4s ease-in, border-radius 1s ease-in-out;
}
.postCard-options__like:hover {
  color: #fff;
  background-color: crimson;
  border-color: yellow;
}
.postCard-options__like.show {
  border-radius: 0;
}
.postCard-options__comments {
  font-size: 1em;
  border-width: 0;
  outline: none;
  border: none;
  background-color: transparent;
  text-align: end;
}
.postCard-options__comments:hover {
  text-decoration: underline;
  cursor: pointer;
}
.postCard-options__comment {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 15px;
  width: 50%;
  font-size: 2em;
  border-width: 0px;
  background-color: goldenrod;
  height: 40px;
  transition: background-color 0.4s ease-in, border-radius 1s ease-in-out;
  cursor: pointer;
}
.postCard-options__comment:hover {
  color: #fff;
  background-color: #202030;
  border-color: #202030;
}
.postCard-options__comment.show {
  border-radius: 0;
}
.postCard-body__details-bottom {
  width: 100%;
}
