.followers-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid powderblue;
  padding: 10px;
  place-items: center;
}
.follower__card {
  display: grid;
  place-items: center;
}
.follower__card_avatar {
  width: 70px;
  height: 70px;
  border-radius: 35px;
}
