/* .login-form {
  display: flex;
  flex-direction: column;
  border: 2px solid #4bb44b;
  border-radius: 9px;
  padding: 25px;
  margin: 15px;
  min-width: 300px;
  background-image: linear-gradient(
    135deg,
    hsla(0, 0%, 100%, 0.04),
    hsla(0, 0%, 100%, 0.07) 20%,
    hsla(0, 0%, 100%, 0.11) 50%,
    hsla(0, 0%, 100%, 0.07) 80%,
    hsla(0, 0%, 100%, 0.04)
  );
}
form {
  text-align: center;
}

label {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: center;
}
.label-text {
  color: gray;
  cursor: text;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  transform: (translateY(-34px));
  transition: all 0.3s;
}
input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid silver;
  color: white;
  font-size: 36px;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  width: 200px;
}

input:focus {
  max-width: 100%;
  width: 400px;
}

input + .label-text {
  color: red;
  font-size: 13px;
  transform: translateY(-74px);
}

input:valid + .label-text {
  font-size: 13px;
  transform: (translateY(-74px));
}

button {
  background-color: rebeccapurple;
  border: 2px solid white;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 200ms;
}

button:hover,
button:focus {
  background-color: white;
  color: greenyellow;
  outline: 0;
} */

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  overflow: clip;
  /* background: black; */
  padding: 10px;
  gap: 10px;
}

.form__input {
  color: #f6fff8;
  width: 90%;
  padding: 20px;
  border: 0;
  outline: 0;
  transition: all 0.5s;
  background: linear-gradient(
    135deg,
    hsla(0, 0%, 100%, 0.04),
    hsla(0, 0%, 100%, 0.07) 20%,
    hsla(0, 0%, 100%, 0.11) 50%,
    hsla(0, 0%, 100%, 0.07) 80%,
    hsla(0, 0%, 100%, 0.04)
  );
}
.form__input:focus {
  background: rgb(51, 57, 61);
  caret-color: aliceblue;
}
.btn {
  display: block;
  width: 120px;
  padding: 20px;
  outline: 0;
  border: 0;
  color: white;
  transition: 0.3s;
  background: rgb(43, 45, 48);
  cursor: pointer;
  border-radius: 12px;
}
.btn:hover {
  background: rgb(51, 57, 61);
}
.btn:active {
  transform: scale(0.96);
}
